
language: generic

sudo: required

services:
  - docker

before_install:
 - docker build -t ivokaramfilov/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true USERNAME/react-test npm test

after_success:
  - docker build -t ivokaramfilov/multi-client ./client
  - docker build -t ivokaramfilov/milti-nginx ./nginx
  - docker build -t ivokaramfilov/multi-server ./server
  - docker build -t ivokaramfilov/multi-worker ./worker